chr19.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr21.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr3.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr4.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr10.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr11.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr14.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr18.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr6.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr9.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chrY.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr16.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr2.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr20.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr5.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr1.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr12.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr13.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr15.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr7.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr8.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chrM.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr17.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr22.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chrMT.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chrX.fa.cmp1 filter=lfs diff=lfs merge=lfs -text
chr4.fa filter=lfs diff=lfs merge=lfs -text
chr5.fa filter=lfs diff=lfs merge=lfs -text
chrM.fa filter=lfs diff=lfs merge=lfs -text
chr13.fa filter=lfs diff=lfs merge=lfs -text
chr16.fa filter=lfs diff=lfs merge=lfs -text
chr17.fa filter=lfs diff=lfs merge=lfs -text
chr9.fa filter=lfs diff=lfs merge=lfs -text
chrY.fa filter=lfs diff=lfs merge=lfs -text
chr18.fa filter=lfs diff=lfs merge=lfs -text
chr20.fa filter=lfs diff=lfs merge=lfs -text
chr7.fa filter=lfs diff=lfs merge=lfs -text
chr2.fa filter=lfs diff=lfs merge=lfs -text
chr22.fa filter=lfs diff=lfs merge=lfs -text
chr11.fa filter=lfs diff=lfs merge=lfs -text
chr12.fa filter=lfs diff=lfs merge=lfs -text
chr15.fa filter=lfs diff=lfs merge=lfs -text
chr19.fa filter=lfs diff=lfs merge=lfs -text
chr21.fa filter=lfs diff=lfs merge=lfs -text
chr3.fa filter=lfs diff=lfs merge=lfs -text
chr6.fa filter=lfs diff=lfs merge=lfs -text
chr8.fa filter=lfs diff=lfs merge=lfs -text
chr1.fa filter=lfs diff=lfs merge=lfs -text
chr10.fa filter=lfs diff=lfs merge=lfs -text
chr14.fa filter=lfs diff=lfs merge=lfs -text
chrX.fa filter=lfs diff=lfs merge=lfs -text
